/* main styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* main page */

.container {
    display: flex;
    max-width: 1200px;
    height: 80% !important;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 1;
}

.image-container {
    width: 45%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: relative;
    z-index: 1;
    object-fit: cover;
    border-radius: 12px !important;
}

.buttons-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.button {
    border: none;
    opacity: 0.9;
    font-size: 35px;
    display: inline-flex;
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
    height: 50%;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.button:hover {
    background-color: #3D8C40;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
    border: none;
    transform: translateY(-1px);
    color: #dee6d9;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
    transform: scale(0.96);
}


/* matches- page */

.matches-container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
}

.matches-table{
    table-layout: fixed;
}

.search-bar{
    display: flex;
    margin-top: 10px;
}

.search-button{
    margin-left: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.pagination a:hover {
    background: #007BFF;
    color: white;
}

.pagination .current-page {
    background: #007BFF;
    color: white;
    font-weight: bold;
    cursor: default;
}


/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 25px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}


.modal-text{
    text-align: justify;
    hyphens: auto;
    font-size: 24px;
    color: #757575;
    line-height: 30px;
    margin-top: 25px;
}

.close {
    font-size: 40px;
    cursor: pointer;
    color: #4CAF50;
    transition: 0.3s;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.close:hover {
    color: #ac84a4;}
.modal-title{
    color: #4CAF50;
    font-size: 24px;
    margin: 0;
}

/* final-score page */

.final-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}


/* match-score page */

.content-table {
    margin: 25px 0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    opacity: 0.9;
    color: #757575;
}

.content-table th:first-child,
.content-table td:first-child {
    width: 25%;
}


.content-table th:not(:first-child),
.content-table td:not(:first-child) {
    width: 15%;
    text-align: center;
}

.content-table thead tr {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 7px 10px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #4CAF50;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

.content-table td:last-child button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;}

.content-table td:last-child button:hover{
    background-color: #3D8C40;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
    border: none;
    transform: translateY(-1px);
    color: #dee6d9;
}

.content-table tbody td:first-child {
    color: #ac84a4;
}

.content-table td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 80% !important;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 1;
}

.score-subtitle {
    font-size: 36px;
    color: #ac84a4;
    text-align: center;
    margin-bottom: 30px;
}

/* new-match page */

h2 {
    font-size: 45px;
    color: #4CAF50;
    text-align: center;
    margin: 0;
}

.subtitle {
    font-size: 24px;
    color: #ac84a4;
    text-align: center;
    margin-bottom: 20px;
    min-height: 55px;
    display: flex;
}

.form-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-container i {
    font-size: 40px;
    color: #ac84a4;
}

input {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 35px;
    color: #757575;
}

input::placeholder {
    color: gray;
    opacity: 0.5;
    font-style: italic;
}

input:focus {
    border-bottom: 2px solid #4CAF50;
}

.new-match-button {
    margin-top: 30px;
}

/* header */
.header {
    background-color: #4CAF50;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.9;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-logo-link {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.header-logo-link:hover {
    color: #dee6d9;
    cursor: pointer;
}

.about-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 20px;
}

.about-link:hover {
    color: #dee6d9;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

nav ul li {
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
}

nav ul li a:hover {

    border-radius: 5px;
    color: #dee6d9;
}

/* footer */

footer {
    height: 80px;
    background-color: #4CAF50;
    margin-top: auto;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    opacity: 0.9;
}


@media (max-width: 992px) {
    .button {
        font-size: 30px;
    }
    .modal-content {
        width: 80%;
    }
    .content-table th, .content-table td{
        padding: 5px 5px;
    }
    .search-bar input{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .image-container{
        display: none;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .form-container{
        width: 90%;
    }
    .buttons-container{
        width: 100%;
        height: 100%;
    }
    .form-container h2{
        font-size: 40px;
    }
    .input-container input{
        font-size: 25px;
    }
    .input-container i{
        font-size: 25px;
    }
    .form-container .subtitle{
        font-size: 20px;
    }
    .content-table th:first-child,
    .content-table td:first-child {
        width: auto;
    }
    .content-table th:not(:first-child),
    .content-table td:not(:first-child) {
        width: auto;
    }
    .content-table td:last-child button{
        padding: 10px 10px;
    }
    .matches-container h2 {
        font-size: 35px;
    }
    .search-bar input{
        font-size: 20px;
    }
    .search-button{
        font-size: 20px;
    }

}
@media (max-width: 400px) {

    .subtitle {
        font-size: 24px;
        min-height: 70px;
    }

    .content-table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content-table td:last-child button{
        padding: 10px 5px;
        font-size: 15px;
    }
    .score-subtitle{
        font-size: 20px;
    }
    .form-container h2{
        font-size: 25px;
    }
    .matches-container h2{
        font-size: 25px;
    }
    .search-button{
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    .content-table td:last-child button{
        padding: 10px 2px;
        font-size: 12px;
    }
    .search-button{
        font-size: 12px;
    }
}



